.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
}

.hidden {
  display: none;
}

.modal {
  background-color: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalTitle {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.modalContent {
  font-size: 2.0rem;
  line-height: 1.6;
  padding: 0 80px;
}

.modalSubtitle {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modalImage {
  width: 500px;
  height: 500px;
  border-radius: 8px;
}

.modalBtn {
  border: none;
  background-color: var(--background-color);
  color: var(--white-color);
  font-size: 2.0rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.modalBtn:hover {
  transform: scale(1.1);
}