.info{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.btn {
  width: 120px;
  height: 40px;
  background-color: var(--white-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:disabled {
  background-color: var(--background-color-light);
  color: var(--white-color);
  cursor: not-allowed;
}

.turnText {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--white-color);
}

.elementIcon {
  width: 50px;
  height: 50px;
}